body {
    padding: 0;
    margin: 0;
}

.banner {
    height: 60px;
}


.banner-content {
    padding: 9px;
}

.banner-content p {
    font-size: 13px;
    font-family: Apercu,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif
    ,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    color: #505050; 
    text-align: center;
}

.container {
    width: 90%;
    margin: auto;
    
}

.container-left {
    float: left;
}

.container-right {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both
}